script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js")
script(src="./javascripts/firebase.js")
script(src="./javascripts/main.js")
